<div class="row">
    <div class="col-md-6">
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#colorModal"
      >
        Add Color
      </button>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        name="colorName"
        class="form-control"
        placeholder="Search color name"
        [(ngModel)]="colorFilterText"
      />
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Color Id</th>
            <th scope="col">Color Name</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let color of colors | colorFilter: colorFilterText">
            <th>{{ color.colorId }}</th>
            <td>{{ color.colorName }}</td>
            <td>
              <button
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#colorUpdateModal"
                (click)="setSelectedColor(color)"
              >
                Modify
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-color-add></app-color-add>
  
  <div
    class="modal fade"
    id="colorUpdateModal"
    tabindex="-1"
    aria-labelledby="colorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="colorModalLabel">Add Color</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form [formGroup]="colorUpdateForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="colorId">Color Id:</label>
              <input
                type="text"
                readonly
                formControlName="colorId"
                id="colorId"
                class="form-control"
                value="{{ selectedColor.colorId }}"
              />
            </div>
            <div class="form-group">
              <label for="colorName">Color Name:</label>
              <input
                type="text"
                formControlName="colorName"
                id="colorUpdateName"
                class="form-control"
                placeholder="Color name"
                value="{{ selectedColor.colorName }}"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="update()"
              data-bs-dismiss="modal"
            >
              Save Color
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  