<div
  class="modal fade"
  id="brandModal"
  tabindex="-1"
  aria-labelledby="brandModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="brandModalLabel">Add Brand</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="brandAddForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="brandName">Brand Name:</label>
            <input
              type="text"
              formControlName="brandName"
              id="brandName"
              class="form-control"
              placeholder="Brand name"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="add()" data-bs-dismiss="modal">
            Save Brand
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
