<h3>Payment</h3>
<div class="row">
    <div class="col-md-12">
        <form class="row g-3">
            <div class="col-md-12">
              <label for="cardHolderName" class="form-label">Card Holder Name</label>
              <input type="text" class="form-control" id="cardHolderName">
            </div>
            <div class="col-12">
              <label for="cardNumber" class="form-label">Card Number</label>
              <input type="text" class="form-control" id="cardNumber" >
            </div>
            <label for="expirationDate" class="form-label">Expiration Date</label>
            <div class="col-md-2">
              <label for="month" class="form-label">Month</label>
              <input type="text" class="form-control" id="expMonth"> 
            </div>
            <div class="col-md-2">
              <label for="year" class="form-label">Year</label>
              <input type="text" class="form-control" id="expYear">
            </div>
            <div class="col-md-3">
              <label for="cvc" class="form-label">CVC</label>
              <input type="text" class="form-control" id="expYear">
            </div>

            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Save this card
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Pay</button>
            </div>
          </form>
    </div>
</div>