<app-car-filter></app-car-filter>
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-danger"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="row">
  <div class="col-md-12">
    <input
      class="form-control me-2"
      id="carFilterText"
      type="search"
      placeholder="Search car by name"
      aria-label="Search"
      [(ngModel)]="carFilterText"
    />
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4" *ngFor="let car of cars | carFilter: carFilterText">
    <div class="card" style="width: 18rem">
      <!-- <p [class]="setCurrentCar(car)"></p>
      <p [class]="getCurrentCarImage(currentCar.carId)"></p> -->
      <img
        class="card-img-top"
        src="https://localhost:44322{{ car.imagePaths[0].imagePath }}"
        alt="Card image cap"
        width="auto"
        height="150px"
      />
      <div class="card-body">
        <h5 class="card-title">{{ car.brandName }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ car.carName }}</li>
        <li class="list-group-item">
          Daily Price: {{ car.dailyPrice | currency: "TRY":"₺" }}
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="btn-group">
            <div class="col-md-6">
              <button
                class="btn btn-primary"
                (click)="setCurrentCar(car); getCarImageById(car.carId)"
                data-bs-toggle="modal"
                data-bs-target="#carDetails"
              >
                More Details
              </button>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-success"
                style="width: 100%"
                (click)="setCurrentCar(car); getCarImageById(car.carId)"
                data-bs-toggle="modal"
                data-bs-target="#rental"
              >
                Rent
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="carDetails"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div
                  *ngFor="let carImage of carImages"
                  [class]="getCurrentSlideClass(carImage)"
                >
                  <img
                    src="https://localhost:44322{{ carImage.imagePath }}"
                    class="d-block w-100"
                    alt="..."
                    style="width: auto; height: 300px"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <tr>
                <th>Car ID:</th>
                <td>{{ currentCar.carId }}</td>
              </tr>
              <tr>
                <th>Car Name:</th>
                <td>{{ currentCar.carName }}</td>
              </tr>
              <tr>
                <th>Model Year:</th>
                <td>{{ currentCar.modelYear }}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tr>
                <th>Brand Name:</th>
                <td>{{ currentCar.brandName }}</td>
              </tr>
              <tr>
                <th>Color Name:</th>
                <td>{{ currentCar.colorName }}</td>
              </tr>
              <tr>
                <th>Daily Price:</th>
                <td>{{ currentCar.dailyPrice | currency: "TRY":"₺" }}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-12">
            <table class="table">
              <tr>
                <th>Description:</th>
              </tr>
              <tr>
                <td>{{ currentCar.description }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Rent</button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="rental"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div
                  *ngFor="let carImage of carImages"
                  [class]="getCurrentSlideClass(carImage)"
                >
                  <img
                    src="https://localhost:44322{{ carImage.imagePath }}"
                    class="d-block w-100"
                    alt="..."
                    style="width: auto; height: 300px"
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="rentDate">Rent Date:</label>
            <input type="date" name="rentDate" class="form-control" />
          </div>
          <div class="col-md-6">
            <label for="returnDate">Return Date:</label>
            <input type="date" name="returnDate" class="form-control" />
          </div>
          <div class="col-md-12">
            <label for="customerName">Customer Name:</label>
            <select class="form-select">
              <option *ngFor="let customer of customers" [value]="customer.customerId" >{{customer.firstName}} {{customer.lastName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Rent</button>
      </div>
    </div>
  </div>
</div>
